<!DOCTYPE html>
<html>
  <head>
    <title>Deskschedule</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p>Your are signed in!</p>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete  %>
      <%= link_to 'アカウント情報を編集', edit_user_registration_path  %>
    <% else %>
      <p>Your are not signed in!</p>
      <%= link_to "アカウントを作る", new_user_registration_path  %>
      <%= link_to 'ログインする', destroy_user_session_path  %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
